<h1>You made to the advanced personal profile!</h1>


<li>@Model["oldInfo"].getName()</li>
<li>@Model["oldInfo"].getAddress()</li>
<li>@Model["oldInfo"].getPhone()</li>
</br>
<li>@Model["newInfo"].getActivity()</li>
<li><img src = '@Model["newInfo"].getPic()' height = "200", width = "200"></li>

<p><a href = "/">Home</a></p>
<p><a href = "/add">Add a new contact</a></p>
